footer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 50px;
    color: gray;
    background-color: gainsboro;
    padding: 50px 0;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    line-height: 30px;
}

ul li a {
    color: gray;
}

ul li a:hover {
    text-decoration: underline;
}